.lobby-form-container {
    display: flex;
    justify-content: center;
    background-color: rgb(200, 204, 189);
    border-top: solid 3px white;
    border-left: solid 3px white;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
    padding: 20px;
    height: fit-content;
    width: 500px;
    font-family: sans-serif;
}

.form-container {
    background-color: rgb(226, 226, 226);
    border-top: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px grey;
    border-right: solid 3px grey;
    margin-top: 1rem;
    padding: 1rem;
}

.form-label {
    margin: 10px;
}

.input-box {
    margin-left: 1rem;
    border-top: solid 3px rgb(85, 85, 85);
    border-left: solid 3px rgb(85, 85, 85);
    border-bottom: solid 3px rgb(207, 207, 207);
    border-right: solid 3px rgb(207, 207, 207);
}

.answer-container {
    display: flex;
    text-align: center;
    justify-content: center;
}