.lobby-form-container {
    display: flex;
    justify-content: center;
    background-color: rgb(200, 204, 189);
    border-top: solid 3px white;
    border-left: solid 3px white;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
    padding: 20px;
    height: fit-content;
    width: 500px;
    
}

.form-container {
    background-color: rgb(226, 226, 226);
    border-top: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px grey;
    border-right: solid 3px grey;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 19px;
    cursor: url(https://tinyurl.com/2p8w7p9c), auto;
}

label {
    cursor: url(https://tinyurl.com/2p8w7p9c), auto;
}

.form-label {
    margin: 10px;
}

.input-box {
    margin-left: 1rem;
    border-top: solid 3px rgb(85, 85, 85);
    border-left: solid 3px rgb(85, 85, 85);
    border-bottom: solid 3px rgb(207, 207, 207);
    border-right: solid 3px rgb(207, 207, 207);
}
.input-box:focus {
    border: solid 3px black;
    outline: none;
}

.number-select {
    margin-left: 1rem;
    outline: none;
    appearance: div;
}
.number-select:focus {
    
}

.answer-container {
    display: flex;
    text-align: center;
    justify-content: center;
}
.target-category {
    color: blue;
}

.create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: fit-content;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    cursor: url(https://tinyurl.com/2p8w7p9c), auto;
    font-family: Windows95;
}

.create-btn:active {
    border-top: solid 2px black;
    border-left: solid 2px black;
    font-size: 12px;
    box-shadow: inset 0 0 10px #8f8f8f;
}